
###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/*/public/bundles/
/*/var/
/*/vendor/
###< symfony/framework-bundle ###
/.docker/.env.nginx.local
/node_modules/
/*/node_modules/
